$easeTime:0.80;
$margin-top:50px;

@function rem($value){
    @return unquote(($value/1px)/16+"rem");
}

$colors:(
    "mattBlackLight":"#303337",
    "mattBlackDark": "#212121",
    "mattGray":      "#878d8d",
    "mattRed":       "#ec6271",
    "mattWhite":     "#fff"
);

@each $colorName, $colorValue in $colors{

    .bg-#{$colorName}{
        background-color: #{$colorValue};
    }
    .text-#{$colorName}{
        color: #{$colorValue};
    }
    .default-text{

        @extend .text-mattGray;
    }
    
     /*
     |Mobile first. Larger media starts at line 85
     |
     */
    .wrapper{

        margin-top:rem($margin-top);

        /*
        |When the sideMenuToggler is unclicked
        |
        */
        .sideMenu{
            
            position:fixed;
            top:0;
            bottom: 0;
            left: 0;
            margin: rem($margin-top) auto auto;
            // margin: auto;
            width: rem(184.75px); 
            transition: all ease $easeTime;
            transform:  translateX(-100%);
            z-index:  2000;

 
            a {
                &:hover,
                &.active{
         
                    @extend .bg-mattRed

                }
                
            
            }
        }
        
         /*
         |Content displayed to the right of sidebar
         |
         */
        .content{
            
            width:100%;
            margin-left: rem(0px);
            transition: all ease $easeTime;
        }
        
        /*
        |When the sideMenuToggler is clicked
        |
        */
        &.active{
            
            .sideMenu{
                
                transform: translateX(0);
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
                background-color: white;
            }
        }
        
    }


    /*
    |Large media. Desktop, etc.
    |
    */
    @media(min-width:1383px){

        .wrapper {

            /*
            |When the sideMenuToggler is unclicked
            |
            */
            .sideMenu{
                
                transform: translateX(0);
                width: rem(24px);
                background-color: transparent;
                
                .nav-link{
                    
                    text-align: center;
                    
                    .icon{
                        
                        margin-right: 0;
                    }
                    .text{
                        
                        display: none;
                    }

                }
            }
            
            /*
            |Content displayed to the right of sidebar
            |
            */
            .content {
                
                margin-left: rem(23px);
            }

            /*
            |When the sideMenuToggler is clicked
            |
            */
            &.active{

                .sideMenu{

                    width: rem(184.75px); 
                    box-shadow: none !important;
                }

                .nav-link{

                    text-align: left;

                    .icon{
                        
                        margin-right: 0;
                    }
                    .text{
                        
                        display: inline !important;
                    }

                }

                /*
                |Content displayed to the right of sidebar
                |
                */
                .content{
    
                    margin-left: rem(177px);
                }

 
            }

            /* 
            |When you hover over the sideMenu and the
            |sideMenuToggler is unclicked
            |
            */
            &.mouseable{

                &.activated{
              
                    .sideMenu{
                        
                        background-color: #fff !important;
                        width: rem(184.75px); 
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                    }
    
                    .nav-link{
    
                        text-align: left;
    
                        .icon{
                            
                            margin-right: 0;
                        }
                        .text{
                            
                            display: inline !important;
                        }
    
                    }
    
                }
            }
        }
    }

    .sideMenu{

        .nav-link{
            
            display: block;
            white-space: nowrap;
            
            .icon {
                
                margin-right: rem(2px);
                font-size: rem(20px);
                vertical-align: middle;
                height: rem(24px);
                width: rem(24px);
                @extend .text-mattGray;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-shadow: 1px 1px black;
            }
            
            .text{
                
                // text-shadow: rem(.25px) rem(.25px) black;
                font-size: rem(12px);
                @extend .text-mattGray;
            }

            &:hover,
            &.active {
                
                .icon{
                    
                    @extend .text-mattRed;        
                }
            }
        }
    }

    .top-bar{

        .icon-sm{

            @extend .text-mattGray;
            text-shadow: 2px 2px black;
            font-weight: bold;
            font-size: rem(14.75px);

            &:hover,
            &.active {
                
 
                    
                    @extend .text-mattRed;       
            }

        }

        .tabButton{
            @extend .text-mattGray;
            border: 1px solid #878d8d;      
            border-top-right-radius: rem(5px); // 50px 20px;
            border-top-left-radius: rem(5px); // 20px;
            border-bottom: rem(0px) solid red;
            margin-bottom: rem(-5px);
        
            cursor: pointer; 
        }

        .fancyTab {
            margin-top: rem(28px);
            margin-left: rem(-5px);
            height: rem(22px);
            padding-left: rem(5px);
            padding-right: rem(12px);
            font-size: rem(10px);
            font-family: arial;
            font-weight: bold;
            color: white;
            // box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
            // background: linear-gradient( #a17f1a, transparent 10px,  #235323  10px);
            
            background-color: #232323; //#00a3c4;    
            border-top-right-radius: rem(50px) rem(20px);
            border-top-left-radius: rem(5px); // 20px;
            border-bottom: rem(0px) solid red;
            // border: 1px solid white; // #a17f1a ;
            cursor: pointer; 
           
            /* Style the active class, and buttons on mouse-over */
            &:hover,
            &.active {
                 color: black;
                // background-color: White; //#666;
                // background: #c93434;
                // background: linear-gradient(220deg, transparent 10px, #c93434 10px);
                
                background: linear-gradient(220deg, transparent rem(10px), white rem(10px));  
                
            }
        }
        
        



        .nav-link{
            
            display: block;
            white-space: nowrap;
            padding: 0;
        
            .icon {
                
                font-size: rem(24px);
                vertical-align: text-bottom;
                height: rem(32px);
                width: rem(32px);
                @extend .text-mattGray;
                // background-color: #fff;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-shadow: rem(1px) rem(1px) black;
            }


            
            
            
            .text{
                
                font-size: rem(14.75px);
                @extend .text-mattGray;
            }
            
            &:hover,
            &.active {
                
                .top-nav-text,
                .icon
                {
                    
                    @extend .text-mattRed;        
                }
            }
            .top-nav-text{
                @extend .text-mattGray;
            }
        }


    }
} // end color map loop
