.bstrap4-iso{

    // @import "../global";
    @import "global";
    // Fonts
    @import url('https://fonts.googleapis.com/css?family=Nunito');

    // Variables
    @import 'variables';



    // Bootstrap
    @import '~bootstrap/scss/bootstrap';

    // Variables
    @import 'variables';
}

// Sidebar
@import 'sidebar-layout';
@import 'menu-show';
// @import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css';
// @import '~select2/dist/css/select2.css';

    .d-flex {
        display: -ms-flexbox !important;
        display: flex !important;
      }

      .logo-quick-nav {
        height: 40px;
        // width: 106px;
        padding:0px;
        // @extend .text-mattRed;
        // border: 0px solid red;
      }
      @media (min-width: 1383px) {
        .navbar-expand-xxl {
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -ms-flex-pack: start;
          justify-content: flex-start;
        }
        .navbar-expand-xxl .navbar-nav {
          -ms-flex-direction: row;
          flex-direction: row;
        }
        .navbar-expand-xxl .navbar-nav .dropdown-menu {
          position: absolute;
        }
        .navbar-expand-xxl .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
        .navbar-expand-xxl > .container,
        .navbar-expand-xxl > .container-fluid, .navbar-expand-xxl > .container-sm, .navbar-expand-xxl > .container-md, .navbar-expand-xxl > .container-lg, .navbar-expand-xxl > .container-xxl {
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
        }
        .navbar-expand-xxl .navbar-collapse {
          display: -ms-flexbox !important;
          display: flex !important;
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
        }
        .navbar-expand-xxl .navbar-toggler {
          display: none;
        }
      }
      .customClassForDropDown
      {
        max-height: 300px;
        overflow-y: auto;
      }

      .frameHolder{

        width: 99.333%;
        height: 99.333vh;

        .mainFrame{
          width: 100%;
          padding-left:.9333%;
          height: 93.333%;
          display: inline-block;
        }
      }

      @media(min-width:1900px){

      .frameHolder{

        width: 99.333%;
        height: 100vh;

        .mainFrame{
          width: 100%;
          padding-left:.9333%;
          height: 94.333%;
          display: inline-block;
        }
      }

      }

      @media(min-width:2000px){

      .frameHolder{

        width: 99.333%;
        height: 100vh;

        .mainFrame{
          width: 100%;
          padding-left:.9333%;
          height: 95.333%;
          display: inline-block;
        }
      }

      }
